body {
  margin: 0%;
  padding: 0%;
  font-family: monospace;
}

section {
  background-color: #273036;
  padding-top: 6rem;
}

card {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.education {
  width: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.Achivement {
  width: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #353b40;
}

#warnaKontol {
  padding-top: 6rem;
  background-color: #000000;
}

#nav1 {
  background-color: #0000009d;
}

#background {
  opacity: 15%;
}

#nama {
  position: relative;
  color: #fff;
  font-size: large;
}

#AbouteME {
  color: #fff;
}

#Education {
  color: #fff;
}

.footer {
  background-color: #8d9296;
  height: auto;
  width: auto;
  font-family: "open sans";
  padding-top: 40px;
  color: #fff;
  grid-template-rows: 50% 50%;
  justify-content: center;
  justify-items: center;
  column-gap: 1rem;
  font-size: larger;
  padding-bottom: 60px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-content-h2 {
  font-size: 3rem;
  font-weight: auto;
  text-transform: capitalize;
  line-height: 3rem;
  justify-content: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-WhatsApp {
  background: #00b489;
  color: black;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
