* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  width: auto;
}
#naviga {
  max-width: auto;
}

/* responsive */
@media (max-width: 616px) {
}

@media (max-width: 300px) {
}

section {
  background-color: #273036;
}

.container {
  width: 100%;
  height: auto;
  padding-bottom: 0rem;
}

#navbar {
  width: 100%;
  position: fixed(top);
}

.card {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.education {
  width: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.Achivement {
  width: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #353b40;
}

/* footer */

.footer {
  background-color: #8d9296;
  font-family: "open sans";
  padding-top: 40px;
  color: #fff;
  grid-template-rows: 50% 50%;
  justify-content: center;
  justify-items: center;
  column-gap: 1rem;
  font-size: larger;
  padding-bottom: 60px;
  width: 100%;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-content-h2 {
  font-size: 3rem;
  font-weight: auto;
  text-transform: capitalize;
  line-height: 3rem;
  justify-content: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-WhatsApp {
  background: #00b489;
  color: black;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
