* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  margin: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  width: 100;
}

section {
  background-color: #273036;
}

.container {
  width: 100vh;
  height: auto;
  max-width: 100%;
  margin: auto;
}

#navbar {
  width: 100%;
  position: fixed(top);
}

.card {
  max-width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

.education {
  width: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.Achivement {
  width: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #353b40;
}

/* footer */

.footer {
  background-color: #8d9296;
  font-family: "open sans";
  padding-top: 40px;
  color: #fff;
  justify-content: center;
  justify-items: center;
  column-gap: 1rem;
  font-size: medium;
  width: 100%;
  height: 19rem;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 4rem;
}

.footer-content-h2 {
  font-size: 3rem;
  font-weight: auto;
  text-transform: capitalize;
  line-height: 3rem;
  justify-content: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-WhatsApp {
  background: #00b489;
  color: black;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
